.navbar li {
  display: inline-block;
  text-align: center;
}

.itemLeft {
  width: 25%;
  
}

.itemCenter {
	width: 50%;
}

.itemRight {
  width: 25%;

  
}

.navbar {
  background: rgb(255, 186, 38);
  box-shadow: 0 3px 6px grey, 0 3px 6px grey;
}

li {
  color: rgb(52, 44, 121);
  padding: 15px 0;
}

body {
  font-size: 26px;
}

